DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=gimnasio
POSTGRES_USER=gimnasio
POSTGRES_PASSWORD=gimnasio
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=Control Fit <no-reply@controlfit.local>
